<div class="card mb-3">
  <h1 class="card-header bg-primary text-white">Tag your Event</h1>

  <div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]="eventForm" class="form">

      <mat-form-field class="input-field" style="margin-right: 5px; width: 375px" appearance="outline">
        <mat-label>Event Type</mat-label>
        <mat-select formControlName="eventType" matNativeControl>
          <mat-option value='FOOD'>Food</mat-option>
          <mat-option value='HEALTH'>Health</mat-option>
          <mat-option value='ENTERTAINMENT'>Entertainment</mat-option>
          <mat-option value='EDUCATION'>Education</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn btn-primary" (click)="goBack()" type="button">Back</button>
      <button class="btn btn-success float-right" type="submit">
        Update</button>
    </form>
  </div>
</div>
