<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user" style="background-color: lightgreen">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/eventInventory" routerLinkActive="active">EventInventory</a>
    <a class="nav-item nav-link" routerLink="/addEvent" routerLinkActive="active">Add Event</a>
    <a class="nav-item nav-link" routerLink="/searchService" routerLinkActive="active">Search Service</a>
    <a class="nav-item nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
    <a class="nav-item nav-link" routerLink="/maintenance" routerLinkActive="active">Maintenance</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

