<div style="margin-left:2%; margin-top:30px; align-content: center">
  <h3 style="font-size: xx-large; font-weight: lighter">Welcome to the event management system!
  </h3>

  <h3 style="font-size: x-large; font-weight: lighter">Use the toolbar above to navigate to your preferred functions or just click on the buttons below:
  </h3>

  <ul>
    <li style="font-size: x-large; font-weight: lighter">To search for events by different criteria and bookmark them or register for them, please go to <button mat-button routerLink="/searchService" style="background-color:palegreen; padding:2px; font-weight: normal; font-size: 15px; height: 30px"> Search Events </button></li>
    <li style="font-size: x-large; font-weight: lighter">As an organizer you can manage all your own events in your Event Inventory. Please navigate to <button mat-button routerLink="/eventInventory" style="background-color:palegreen; padding:2px; font-weight: normal; font-size: 15px; height: 30px"> Event Inventory </button></li>
    <li style="font-size: x-large; font-weight: lighter">If you want to give Feedback to an event, you can search for it and leave your feedback at <button mat-button routerLink="/searchService" style="background-color:palegreen; padding:2px; font-weight: normal; font-size: 15px; height: 30px"> Search Events </button></li>
    <li style="font-size: x-large; font-weight: lighter">As an attendee you can export all your bookmarked and registered events to you calendar. Please navigate to <button mat-button routerLink="/calendar" style="background-color:palegreen; padding:2px; font-weight: normal; font-size: 15px; height: 30px"> Calendar </button></li>
  </ul>

</div>


