<div style="margin-left:2%; margin-top:30px; align-content: center">

  <h3 style="font-size: xx-large; font-weight: lighter">Search for Events by different criteria:
  </h3>

  <div [formGroup]="searchForm">
  <form (submit)="$event.preventDefault()">
    <mat-form-field>
      <input formControlName="eventName" id="eventName" name="eventName"
             placeholder="Event Name" type="text" matInput>
    </mat-form-field>
    <button mat-icon-button color="warn" style="background-color:palegreen; font-weight: normal; font-size: 10px; height: 30px; width: 35px;" (click)="searchByName()">
      <mat-icon>go</mat-icon>
    </button>

    <mat-form-field>
      <input formControlName="date" id="date" name="date" placeholder ="Date" type="date" matInput>
    </mat-form-field>
    <button mat-icon-button color="warn" style="background-color:palegreen; font-weight: normal; font-size: 10px; height: 30px; width: 35px;" (click)="searchByDate()">
      <mat-icon>go</mat-icon>
    </button>

    <mat-form-field>
      <input formControlName="capacity" id="capacity" name="capacity" placeholder ="Capacity" type="number" matInput>
    </mat-form-field>
    <button mat-icon-button color="warn" style="background-color:palegreen; font-weight: normal; font-size: 10px; height: 30px; width: 35px;" (click)="searchByCapacity()">
      <mat-icon>go</mat-icon>
    </button>

    <mat-form-field>
      <input formControlName="description" id="description" name="description" placeholder ="description" type="string" matInput>
    </mat-form-field>
    <button mat-icon-button color="warn" style="background-color:palegreen; font-weight: normal; font-size: 10px; height: 30px; width: 35px;" (click)="searchByDes()">
      <mat-icon>go</mat-icon>
    </button>
  </form>
    </div>

  <table mat-table [dataSource]="events" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd.MM.YYYY'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <th mat-header-cell *matHeaderCellDef> Event Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="bookmark(element)">
          <mat-icon>bookmark</mat-icon>
        </button>

        <mat-form-field class="input-field" style="margin-right: 5px; width: 375px" appearance="outline">
          <mat-label>Event Type</mat-label>
          <mat-select formControlName="eventType" matNativeControl>
            <mat-option value='FOOD'>Food</mat-option>
            <mat-option value='HEALTH'>Health</mat-option>
            <mat-option value='ENTERTAINMENT'>Entertainment</mat-option>
            <mat-option value='EDUCATION'>Education</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="register(element)">
          <mat-icon>register</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="feedback(element)">
          <mat-icon>feedback</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
