<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username (E-Mail)</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formVals.username.errors }" />
        <div *ngIf="submitted && formVals.username.errors" class="invalid-feedback">
          <div *ngIf="formVals.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formVals.password.errors }" />
        <div *ngIf="submitted && formVals.password.errors" class="invalid-feedback">
          <div *ngIf="formVals.password.errors.required">Password is required</div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary">
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
